@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(44, 139, 44);
  font-family: "Bebas Neue";
  background-color: #141414;
}
